$primary-color: #b78aff;
$text-color: #000;
$border-radius: 5px;
$fz: 16px;
$pd: 20px;

.shadow-1 {
    box-shadow: rgb(0 0 0 / 16%) 0 1px 4px;
}

.shadow-2 {
    box-shadow: rgb(0 0 0 / 16%) 0 1px 4px;
}

.shadow-3 {
    box-shadow: rgb(50 50 93 / 25%) 0 13px 27px -5px, rgb(0 0 0 / 30%) 0 8px 16px -8px;
}

host {
    --n-icon-color: #b78aff !important;
    --n-color: #b78aff !important;
}

body {
    font-size: $fz;
}

.btn {
    box-sizing: border-box;
    padding: 5px 20px;
    line-height: 100%;
    color: $text-color;
    background-color: $primary-color;
    border: none;
    border-radius: $border-radius;
    outline: none;
}

.m20 {
    margin-top: 20px;
}

.warp {
    :deep(.n-form-item-blank) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.notice {
    font-size: 12px;
    line-height: 26px;
    color: #c2c2c2;
}
